<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('./partials/head.ejs')%>
</head>

<body>
  <!-- ============ MAIN ============ -->
  <h1>New *****
  </h1>
  <main>
    <form action="/*****" method="POST">

      <!-- Name -->
      <label for="*****Name">***** Name</label>
      <input class="u-full-width" type="text" placeholder="***** Name" name="name">

      <!-- Image URL -->
      <label for="*****ImgUrl">Image Source URL</label>
      <input type="url" class="u-full-width" placeholder="image source" name="img">

      <h5 id="form">Type</h5>

      <!-- Type -->
      <!-- Type 1 -->
      <label for="*****Type">Type 1</label>
      <input class="u-full-width" type="text" placeholder="Grass" name="type0">

      <!-- Type 2 -->
      <label for="*****Type">Type 2</label>
      <input class="u-full-width" type="text" placeholder="Poison" name="type1">

      <!-- Type 3 -->
      <label for="*****Type">Type 3</label>
      <input class="u-full-width" type="text" placeholder="Fire" name="type2">
      <h5 id="form">Stats</h5>

      <!-- stats hp -->
      <label for="stats: hp">hp</label>
      <input class="u-full-width" type="text" placeholder="30" name="hp">

      <!-- stats Attack -->
      <label for="stats: attack">attack</label>
      <input class="u-full-width" type="text" placeholder="50" name="attack">

      <!-- stats defense -->
      <label for="stats: defense">defense</label>
      <input class="u-full-width" type="text" placeholder="12" name="defense">

      <!-- Cancel & Submit buttons -->
      <input class="waves-effect waves-light btn-small" type="submit" value="Submit">
      <a id="returnIndex" class="waves-effect waves-light btn-small" href="/*****">Cancel</a><br />
    </form>
  </main>
</body>

</html>